.elementor-kit-4{--e-global-color-uicore_primary:#000000;--e-global-color-uicore_secondary:#F52D6F;--e-global-color-uicore_accent:#34D1B0;--e-global-color-uicore_headline:#070707;--e-global-color-uicore_body:#082C36;--e-global-color-uicore_dark:#38445C;--e-global-color-uicore_light:#BFC5C5;--e-global-color-uicore_white:#FFFFFF;--e-global-color-d2dd655:#E9E9E9;--e-global-color-bb1722b:#FFFFFF00;--e-global-color-74902b7:#FFFCFC;--e-global-color-e7a1c71:#949494;--e-global-color-56ef0e6:#F500FF;--e-global-typography-uicore_primary-font-family:"Urbanist (Google Fonts)";--e-global-typography-uicore_primary-font-weight:800;--e-global-typography-uicore_secondary-font-family:"Urbanist (Google Fonts)";--e-global-typography-uicore_secondary-font-weight:500;--e-global-typography-uicore_text-font-family:"Urbanist (Google Fonts)";--e-global-typography-uicore_text-font-weight:normal;--e-global-typography-uicore_accent-font-family:"Urbanist (Google Fonts)";--e-global-typography-uicore_accent-font-weight:900;--e-global-typography-5a1de2f-font-family:"Bungee Shade";--e-global-typography-5a1de2f-font-size:7rem;--e-global-typography-5a1de2f-font-weight:400;--e-global-typography-5a1de2f-line-height:7rem;--e-global-typography-a66d5a1-font-family:"Urbanist";--e-global-typography-a66d5a1-font-size:18px;--e-global-typography-a66d5a1-font-weight:normal;--e-global-typography-a66d5a1-line-height:1.4em;--e-global-typography-9f34644-font-family:"Bungee Shade";--e-global-typography-9f34644-font-size:105px;--e-global-typography-9f34644-font-weight:400;--e-global-typography-9f34644-line-height:0.95em;color:var( --e-global-color-uicore_primary );font-family:"Urbanist", Sans-serif;font-size:18px;font-weight:normal;line-height:1.4em;}.elementor-kit-4 a{color:var( --e-global-color-uicore_primary );}.elementor-kit-4 h1{color:var( --e-global-color-uicore_primary );font-family:"Bungee Shade", Sans-serif;font-size:100px;font-weight:400;line-height:0.95em;}.elementor-kit-4 h2{color:var( --e-global-color-uicore_primary );font-size:48px;font-weight:700;line-height:1em;}.elementor-kit-4 h3{color:var( --e-global-color-uicore_primary );font-size:26px;line-height:1.1em;}.elementor-kit-4 h4{color:var( --e-global-color-uicore_primary );font-size:1em;font-weight:700;}.elementor-kit-4 button,.elementor-kit-4 input[type="button"],.elementor-kit-4 input[type="submit"],.elementor-kit-4 .elementor-button{font-family:"Urbanist (Google Fonts)", Sans-serif;font-size:13px;font-weight:800;text-transform:None;line-height:1em;letter-spacing:0em;color:var( --e-global-color-uicore_primary );background-color:rgba(0, 0, 0, 0);border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-uicore_primary );border-radius:25px 25px 25px 25px;padding:10px 20px 10px 20px;}.elementor-kit-4 button:hover,.elementor-kit-4 button:focus,.elementor-kit-4 input[type="button"]:hover,.elementor-kit-4 input[type="button"]:focus,.elementor-kit-4 input[type="submit"]:hover,.elementor-kit-4 input[type="submit"]:focus,.elementor-kit-4 .elementor-button:hover,.elementor-kit-4 .elementor-button:focus{color:var( --e-global-color-uicore_dark );background-color:rgba(245, 45, 111, 0);}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1600px;}.e-con{--container-max-width:1600px;--container-default-padding-block-start:0px;--container-default-padding-inline-end:0px;--container-default-padding-block-end:0px;--container-default-padding-inline-start:0px;}.elementor-widget:not(:last-child){margin-block-end:25px;}.elementor-element{--widgets-spacing:25px 25px;}{}h1.entry-title{display:var(--page-title-display);}.site-header{padding-inline-end:0px;padding-inline-start:0px;}@media(max-width:1500px){.elementor-kit-4{--e-global-typography-a66d5a1-font-size:16px;--e-global-typography-9f34644-font-size:80px;font-size:16px;}.elementor-kit-4 h1{font-size:90px;}.elementor-kit-4 h2{font-size:32px;}.elementor-kit-4 h3{font-size:24px;}}@media(max-width:1100px){.elementor-kit-4{--e-global-typography-5a1de2f-font-size:5.6rem;--e-global-typography-5a1de2f-line-height:5.6rem;--e-global-typography-9f34644-font-size:70px;}.elementor-kit-4 h1{font-size:60px;}.elementor-kit-4 h2{font-size:26px;}.elementor-kit-4 h3{font-size:22px;}.elementor-kit-4 button,.elementor-kit-4 input[type="button"],.elementor-kit-4 input[type="submit"],.elementor-kit-4 .elementor-button{font-size:13px;padding:10px 20px 10px 20px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-4{--e-global-typography-5a1de2f-font-size:2.7rem;--e-global-typography-5a1de2f-line-height:2.6rem;--e-global-typography-9f34644-font-size:36px;}.elementor-kit-4 h1{font-size:38px;}.elementor-kit-4 h2{font-size:22px;}.elementor-kit-4 h3{font-size:18px;line-height:18px;}.elementor-kit-4 button,.elementor-kit-4 input[type="button"],.elementor-kit-4 input[type="submit"],.elementor-kit-4 .elementor-button{font-size:13px;padding:10px 20px 10px 20px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}@media(min-width:1920px){.elementor-kit-4{--e-global-typography-a66d5a1-font-size:24px;--e-global-typography-9f34644-font-size:145px;font-size:24px;}.elementor-kit-4 h2{font-size:60px;}.elementor-kit-4 h3{font-size:32px;}}/* Start custom CSS *//* disable default transitions
.elementor-element {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    --background-transition: none !important;
    --border-transition: none !important;
    --overlay-transition: none !important;
}
*/
ul, ol {
    padding-left: 1em;
}
body {
background: #000;
}
img,
.home_rollover_image_overlay,
.home_rollover_base_image
{
  transform: translateZ(0); /*for older browsers*/
  will-change: transform;
}
/* reposition header when logged in 
.admin-bar #dh_header,
.admin-bar #page_wrap {
    top: 32px;
}
@media screen and (max-width: 783px) {
    .admin-bar #dh_header,
    .admin-bar #page_wrap {
        top: 46px;
    }
} */


/********** Homepage styles **********/

.home_project_title h2 {
    font-family: "Bungee Shade", Sans-serif;
    font-weight: normal;
    font-size: 2.5em;
}
.home_intro_text {
    font-size: 36px;
    line-height: 1.4em
}
.home_intro_text p {
    margin: 0;
}
.home_project_row {
    padding: 10vh 150px;
    min-height: 100vh;
    width: 100%;
}
.home_project_title h2 .home_title_words {
    display: block !important; /* ensures words split onto separate lines when using split text */
}
.dh_three_quarters {
    width: 75%
}
.dh_two_thirds {
    width: 66%
}
.dh_half {
    width: 50%
}
.dh_right {
    align-content: right;
    justify-content: right;
    --align-items: flex-end;
}
.dh_left {
    align-content: left;
    justify-content: left;
    --align-items: flex-start;
}
.dh_colour_hue,
.dh_colour_hue_2 {
  opacity: 0;
  height: 100%;
  width: 100%;
}
.dh_colour_hue_2 {
    opacity: 0.7
}
.home_project_wrapper .e-loop-item {
    perspective: 400px;
}
@media only screen and (min-width: 1920px) {
   .home_project_row {
        padding: 10vh 200px;
    }
    .home_project_title h2 {
        font-size: 2.5em;
    }
    .home_intro_text {
        font-size: 48px;
    }
}
@media only screen and (max-width: 1500px) {
   .home_project_row {
        padding: 10vh 75px;
        min-height: 50vh;
    }
    .home_project_title h2 {
        font-size: 2.1em;
    }
    .home_intro_text {
        font-size: 28px;
    }
}
@media only screen and (max-width: 1100px) {
    .home_project_row {
        padding: 40px;
        min-height: 50vh;
    }
    .home_project_title h2 {
        font-size: 3em;
    }
    .dh_three_quarters,
    .dh_two_thirds,
    .dh_one_third,
    .dh_half {
        width: 100%;
    }
    .home_intro_text {
        font-size: 24px;
    }
}
@media only screen and (max-width: 767px) {
    .home_project_row {
        padding: 20px;
    }
    .home_project_title {
        font-size: 0.58em !important;
    }
    .home_project_title.long_project_title,
    .long_project_title {
        font-size: 0.55em !important;
    }
    .home_intro_text {
        font-size: 18px;
    }
}
.home_rollover_image_2 {
    top: -110vh;
}


/* Home project templates */
.home_rollover_image_1,
.home_rollover_image_2 {
    height: 80vh
}
@media only screen and (max-width: 1100px) {
    .home_rollover_image_1,
    .home_rollover_image_2 {
        height: 60vh
    }
}
@media only screen and (max-width: 767px) {
    .home_rollover_image_1,
    .home_rollover_image_2 {
        height: 50vh
    }
}
*/

/********** Global Header Styles **********/
/* Transition start states */
.dh_home_transitions {
    transform: translateY(-100vh); /* hides the preloader off screen until required */
    height: 100svh;
}
body.page-id-4761 .dh_home_transitions {
    transform: translateY(0vh); /* show home preloader on home page load */
    height: 100svh;
}
/* Homepage */
body.page-id-4761 #dh_preloader {
    transform: translateY(-100vh); /* hides dh_preloader off screen as not needed on this page */
    height: 100svh;
}
#dh_header {
    mix-blend-mode: difference;
}
/* Standard header on work pages 
body.single-work #dh_header
{
    mix-blend-mode: normal;
}
body.single-work #dh_header_logo .logo_part {
    background: #000000;
}
body.single-work #dh_menu a {
  color: #000000;
} */

/* Main menu */
#dh_menu *, *:after, *:before {
  box-sizing: border-box;
}

#dh_menu a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.25s ease;
  font-size: 1.2rem;
}

#dh_menu ul {
  display: flex;
  flex-wrap: wrap;
}
#dh_menu ul li {
  margin-left: 0.75em;
  margin-right: 0.75em;
  padding-left: 0;
  padding-right: 0;
}
#dh_menu ul:hover a {
  opacity: 0.25;
}
#dh_menu ul:hover a:hover {
  color: #fff;
  box-shadow: 0 2px 0 0 currentcolor;
  opacity: 1;
}
#dh_menu ul li.current_page_item a {
    box-shadow: 0 2px 0 0 currentcolor;
}

/* DH Logo in css */
#dh_header_logo,
#dh_header_logo:hover,
#dh_header_logo:visited {
    text-decoration: none;
    color: black;
}
.dh_header_logo_wrapper {
    --site-logo-width: 46px;
    width: var(--site-logo-width);
    height: calc(var(--site-logo-width) * 0.66666666);
}
.dh_preloader_logo_wrapper {
    --preloader-width: 200px;
    width: var(--preloader-width);
    height: calc(var(--preloader-width) * 0.66666666);
}
@media only screen and (max-width: 1500px) {
    .dh_preloader_logo_wrapper {
        --preloader-width: 160px;
        width: var(--preloader-width);
        height: calc(var(--preloader-width) * 0.66666666);
    }
    #dh_menu a {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1100px) {
    .dh_preloader_logo_wrapper {
        --preloader-width: 130px;
        width: var(--preloader-width);
        height: calc(var(--preloader-width) * 0.66666666);
    }
}
@media only screen and (max-width: 767px) {
    .dh_preloader_logo_wrapper {
        --preloader-width: 100px;
        width: var(--preloader-width);
        height: calc(var(--preloader-width) * 0.66666666);
    }
}
@media only screen and (min-width: 1920px) {
    .dh_header_logo_wrapper {
        --site-logo-width: 70px;
    }
    #dh_menu a {
        font-size: 1.4rem;
    }
}
.logo_part_wrapper {
    width: calc(25% - 3%);
    overflow: hidden;
    perspective: 400px;
}
#dh_preloader .logo_part_wrapper {
   width: calc(25% - 2%);
}

#dh_preloader .logo_part {
    background: #ffffff;
}
#dh_header_logo .logo_part {
    background: #ffffff;
}
.dh_animation_logo .logo_1,
#dh_preloader .logo_1 {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 66%
}
.dh_animation_logo .logo_2,
#dh_preloader .logo_2 {
    border-radius: 100% 0 0 100% / 33% 0 0 0%;
    height:100%
}
.dh_animation_logo .logo_3,
#dh_preloader .logo_3 {
    height:100%
}
.dh_animation_logo .logo_4,
#dh_preloader .logo_4 {
    border-radius: 0 100% 100% 0 / 0 50% 0 0;
    height: 66%
}
/* finished logo styles for page transitions */
.dh_transition_logo .logo_1 {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 50%;
    margin-bottom: 100%
}
.dh_transition_logo .logo_2 {
    border-radius: 100% 0 0 100% / 30% 0 0 30%;
    height: 60%;
    margin-top: 33%;
}
.dh_transition_logo .logo_3 {
    border-radius: 0 100% 100% 0 / 0 30% 30% 0;
    height: 60%;
    margin-top: 33%;
    
}
.dh_transition_logo .logo_4 {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    height: 50%;
    margin-bottom: 100%;
}

/* A bit of fun on logo hover */
.eyeball {
    border-radius: 50%;
    opacity: 0;
    height: 3px;
    width: 3px;
    background: white;
}

.full-height{
    height: 100vh;
    
}
.h-scroll-section{
    min-width: 100%;
    flex-shrink: 0;
    
}
#dh_transition_wrap {
   position: relative;
   overflow: hidden
}
.elementor-widget-text-editor a {
    text-decoration: underline
}

/**********  Custom cursor styles **********/
#dh_cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
    .dh_cursor__circle {
        width: 20px;
        height: 20px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        background: #fff;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
          background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
          width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
          height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }
  
    /* Different cursor interactions go here */
    #dh_cursor.image .dh_cursor__circle,
    #dh_cursor.lab .dh_cursor__circle{
        width: 110px;
        height: 110px;
        background-color: rgba(227, 222, 193, 0.95);
        
    }
        
    #dh_cursor.image::after{
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 100%;
        height: 100%;
        background-image: url('../images/icons8-eye-50.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
  
    #dh_cursor.link .dh_cursor__circle{
        width: 140px;
        height: 140px;
        background-color: rgba(227, 222, 193, 0.08);
    }
    
    #dh_cursor.logo .dh_cursor__circle{
        width: 110px;
        height: 110px;
        background-color: rgba(227, 222, 193, 0.95);
        border: 1px solid rgba(227, 222, 193, 0.9);
    }
    
    #dh_cursor.menu .dh_cursor__circle{
        width: 110px;
        height: 110px;
        background-color: rgba(225, 225, 225, 1);
        border: 1px solid rgba(227, 222, 193, 0.95);
    }
    
    #dh_cursor.lab::after {
        content: 'READ';
        display: block;
        font-family: 'urbanist' sans-serif;
        font-size: 16px;
        margin: 0;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        position: absolute;
        top: -18%;
        left: -18%;
        width: 100%;
        height: 100%;
    }
    #dh_cursor.content_link .dh_cursor__circle{
        width: 100px;
        height: 100px;
        background-color: rgba(227, 222, 193, 0.95);
        border: 1px solid rgba(227, 222, 193, 0.9);
    }

}


/********** Single project styles **********/


/* Single header styles */

.title_transition_ball {
    height: 20px;
    width: 20px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    z-index: 9999;
    display: block;
    background: black;
    border-radius: 50%;
    opacity: 0
}
.project_image_row,
.project_video_row,
.project_image_row_brief {
    padding: 75px 150px;
}
.project_image_wrapper,
.project_video_wrapper_full {
    height: 80vh;
}
.project_image_row_brief .project_image_wrapper,
.project_5050_row .project_image_wrapper {
    height: 70vh;
}
.project_image_wrapper img {
    height: 85vh; /* images taller than wrapper to allow for data speed effect */
}
.project_image_row_brief .project_image_wrapper img,
.project_5050_row .project_image_wrapper img{
    height: 75vh;
}
.project_image_wrapper img {
    object-fit: cover;
    object-position: center center;
}
.full_width {
    min-width: 100%;
    width: 100%;
}
.one_third {
    min-width: 33%;
    width: 33%;
}
.half_width {
    min-width: 50%;
    width: 50%;
}
.two_thirds {
    min-width: 66%;
    width: 66%;
}
.dh_two_thirds_height {
    min-height: 60vh;
}
.dh_two_thirds_height img {
    min-height: 70vh;
}
.project_image_wrapper.project_image_wrapper_tall {
    height: 100%;
}
.project_image_wrapper.project_image_wrapper_tall img {
    height: 115%;
}
.project_description_text {
    text-wrap: balance
}

@media screen and (min-width: 1920px) {
    .project_image_row,
    .project_video_row,
    .project_image_row_brief {
        padding: 100px 180px;
    }
}
@media screen and (max-width: 1100px) {
    .project_image_row {
        padding: 0 40px 80px 40px;
    }
    .project_image_row_brief {
        width: 100%;
        min-height: 40vh;
        padding: 0 40px 80px 40px;
    }
    .project_video_row {
        width: 100%;
        padding: 0 40px 80px 40px;
        height: auto;
    }
    .project_video_wrapper,
    .project_text_wrapper {
        height: auto;
    }
    .project_image_wrapper,
    .dh_two_thirds_height {
        width: 100%;
        height: 60vh;
    }
    .project_image_wrapper img,
    .dh_two_thirds_height img {
        width: 100%;
        height: 65vh;
    }
    .project_image_row_brief .project_image_wrapper {
        height: 40vh;
    }
    .project_image_row_brief .project_image_wrapper img {
        height: 45vh;
    }
    .project_image_row_brief .project_image_wrapper,
    .project_5050_row .project_image_wrapper {
        height: 40vh;
    }
    .project_image_row_brief .project_image_wrapper img,
    .project_5050_row .project_image_wrapper img{
        height: 45vh;
    }
    #featured_image_row,
    #featured_image_row img {
        height: 45vh;
    }
    .half_width {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .project_image_row,
    .project_image_row_brief {
        min-height: 40vh;
        padding: 0 25px;
    }
    .project_video_row {
        width: 100%;
        padding: 0 25px;
    }
    .dh_two_thirds_height,
    .project_image_wrapper {
        min-height: 40vh;
        height: 40vh;
    }
    .project_image_wrapper,
    .project_video_wrapper,
    .project_text_wrapper {
        margin: 25px 0;
        height: auto;
        min-height: 20vh;
    }
    .project_image_wrapper img,
    .dh_two_thirds_height img,
    .project_image_wrapper img {
        min-height: 40vh;
        height: auto;
    }
    .circle_out {
        opacity: 1 !important;
        background: #000;
    }
    #featured_image_row,
    #featured_image_row img {
        min-height: 40vh;
        height: auto;
    }

}

/************ Lab page styles *************/
.lab_article_title {
    text-wrap: balance
}
.lab_article_image {
    z-index: 10 !important;
    opacity: 1
}
.lab_article_image_grey {
    z-index: 999 !important;
    opacity: 1
}
.lab_article_image_grey_exit {
    z-index: 9999 !important;
    opacity: 0;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../fonts/Urbanist-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../fonts/Urbanist-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../fonts/Urbanist-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('../fonts/Urbanist-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('../fonts/Urbanist-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/Urbanist-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../fonts/Urbanist-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../fonts/Urbanist-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../fonts/Urbanist-ExtraBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */