.elementor-3365 .elementor-element.elementor-element-1638e42{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--gap:50px 0px;--background-transition:0.3s;}.elementor-3365 .elementor-element.elementor-element-1638e42, .elementor-3365 .elementor-element.elementor-element-1638e42::before{--border-transition:0.3s;}.elementor-3365 .elementor-element.elementor-element-de7589e{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--align-items:center;--gap:50px 50px;--background-transition:0.3s;}.elementor-3365 .elementor-element.elementor-element-19e7aaf{text-align:center;}.elementor-3365 .elementor-element.elementor-element-19e7aaf .elementor-heading-title{color:var( --e-global-color-uicore_primary );font-family:"Urbanist", Sans-serif;font-size:29px;font-weight:400;}.elementor-3365 .elementor-element.elementor-element-0cebe1e{text-align:center;z-index:10;}.elementor-3365 .elementor-element.elementor-element-0cebe1e .elementor-heading-title{color:var( --e-global-color-uicore_primary );font-size:62px;}.elementor-3365 .elementor-element.elementor-element-ba96af4{--display:flex;--min-height:100px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--background-transition:0.3s;--border-radius:200px 200px 200px 200px;--z-index:15;}.elementor-3365 .elementor-element.elementor-element-ba96af4:not(.elementor-motion-effects-element-type-background), .elementor-3365 .elementor-element.elementor-element-ba96af4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-uicore_primary );}.elementor-3365 .elementor-element.elementor-element-ba96af4:hover{background-color:var( --e-global-color-d2dd655 );}.elementor-3365 .elementor-element.elementor-element-ba96af4, .elementor-3365 .elementor-element.elementor-element-ba96af4::before{--border-transition:0.3s;}.elementor-3365 .elementor-element.elementor-element-43ec41b{--display:flex;--min-height:100px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--overflow:hidden;--background-transition:0.3s;--border-radius:200px 200px 200px 200px;--position:absolute;top:0px;--z-index:999;}.elementor-3365 .elementor-element.elementor-element-43ec41b:not(.elementor-motion-effects-element-type-background), .elementor-3365 .elementor-element.elementor-element-43ec41b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-uicore_primary );}.elementor-3365 .elementor-element.elementor-element-43ec41b, .elementor-3365 .elementor-element.elementor-element-43ec41b::before{--border-transition:0.3s;}body:not(.rtl) .elementor-3365 .elementor-element.elementor-element-43ec41b{left:0px;}body.rtl .elementor-3365 .elementor-element.elementor-element-43ec41b{right:0px;}.elementor-3365 .elementor-element.elementor-element-122eeef{--display:flex;--min-height:100px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--overflow:hidden;--background-transition:0.3s;--border-radius:200px 200px 200px 200px;--position:absolute;top:0px;--z-index:99;}body:not(.rtl) .elementor-3365 .elementor-element.elementor-element-122eeef{left:0px;}body.rtl .elementor-3365 .elementor-element.elementor-element-122eeef{right:0px;}.elementor-3365 .elementor-element.elementor-element-500f915 .elementor-icon-wrapper{text-align:center;}.elementor-3365 .elementor-element.elementor-element-500f915.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-3365 .elementor-element.elementor-element-500f915.elementor-view-framed .elementor-icon, .elementor-3365 .elementor-element.elementor-element-500f915.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-3365 .elementor-element.elementor-element-500f915.elementor-view-framed .elementor-icon, .elementor-3365 .elementor-element.elementor-element-500f915.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-3365 .elementor-element.elementor-element-500f915 > .elementor-widget-container{padding:5px 0px 0px 0px;}.elementor-3365 .elementor-element.elementor-element-6d3ecdb{--display:flex;--min-height:100px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--overflow:hidden;--background-transition:0.3s;--border-radius:200px 200px 200px 200px;--position:absolute;top:0px;--z-index:99;}body:not(.rtl) .elementor-3365 .elementor-element.elementor-element-6d3ecdb{left:0px;}body.rtl .elementor-3365 .elementor-element.elementor-element-6d3ecdb{right:0px;}.elementor-3365 .elementor-element.elementor-element-4e88a13 .elementor-icon-wrapper{text-align:center;}.elementor-3365 .elementor-element.elementor-element-4e88a13.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-3365 .elementor-element.elementor-element-4e88a13.elementor-view-framed .elementor-icon, .elementor-3365 .elementor-element.elementor-element-4e88a13.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-3365 .elementor-element.elementor-element-4e88a13.elementor-view-framed .elementor-icon, .elementor-3365 .elementor-element.elementor-element-4e88a13.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-3365 .elementor-element.elementor-element-4e88a13 > .elementor-widget-container{padding:5px 0px 0px 0px;}.elementor-3365 .elementor-element.elementor-element-de449d9{--display:flex;--min-height:100px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--overflow:hidden;--background-transition:0.3s;--border-radius:200px 200px 200px 200px;--position:absolute;top:0px;--z-index:99;}body:not(.rtl) .elementor-3365 .elementor-element.elementor-element-de449d9{left:0px;}body.rtl .elementor-3365 .elementor-element.elementor-element-de449d9{right:0px;}.elementor-3365 .elementor-element.elementor-element-4f2dc36 .elementor-icon-wrapper{text-align:center;}.elementor-3365 .elementor-element.elementor-element-4f2dc36.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-3365 .elementor-element.elementor-element-4f2dc36.elementor-view-framed .elementor-icon, .elementor-3365 .elementor-element.elementor-element-4f2dc36.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-3365 .elementor-element.elementor-element-4f2dc36.elementor-view-framed .elementor-icon, .elementor-3365 .elementor-element.elementor-element-4f2dc36.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-3365 .elementor-element.elementor-element-4f2dc36 > .elementor-widget-container{padding:5px 0px 0px 0px;}.elementor-3365 .elementor-element.elementor-element-19168a7{--display:flex;--min-height:100px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--overflow:hidden;--background-transition:0.3s;--border-radius:200px 200px 200px 200px;--position:absolute;top:0px;--z-index:50;}.elementor-3365 .elementor-element.elementor-element-19168a7:not(.elementor-motion-effects-element-type-background), .elementor-3365 .elementor-element.elementor-element-19168a7 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-uicore_primary );}.elementor-3365 .elementor-element.elementor-element-19168a7, .elementor-3365 .elementor-element.elementor-element-19168a7::before{--border-transition:0.3s;}body:not(.rtl) .elementor-3365 .elementor-element.elementor-element-19168a7{left:0px;}body.rtl .elementor-3365 .elementor-element.elementor-element-19168a7{right:0px;}.elementor-3365 .elementor-element.elementor-element-e64d6d6{--display:flex;--min-height:100px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--overflow:hidden;--background-transition:0.3s;--border-radius:200px 200px 200px 200px;--position:absolute;top:0px;--z-index:10;}.elementor-3365 .elementor-element.elementor-element-e64d6d6:not(.elementor-motion-effects-element-type-background), .elementor-3365 .elementor-element.elementor-element-e64d6d6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-uicore_primary );}.elementor-3365 .elementor-element.elementor-element-e64d6d6, .elementor-3365 .elementor-element.elementor-element-e64d6d6::before{--border-transition:0.3s;}body:not(.rtl) .elementor-3365 .elementor-element.elementor-element-e64d6d6{left:0px;}body.rtl .elementor-3365 .elementor-element.elementor-element-e64d6d6{right:0px;}@media(max-width:1100px){.elementor-3365 .elementor-element.elementor-element-19e7aaf .elementor-heading-title{font-size:24px;}.elementor-3365 .elementor-element.elementor-element-0cebe1e .elementor-heading-title{font-size:48px;}}@media(min-width:768px){.elementor-3365 .elementor-element.elementor-element-de7589e{--width:66%;}.elementor-3365 .elementor-element.elementor-element-ba96af4{--width:100px;}.elementor-3365 .elementor-element.elementor-element-43ec41b{--width:100px;}.elementor-3365 .elementor-element.elementor-element-122eeef{--width:100px;}.elementor-3365 .elementor-element.elementor-element-6d3ecdb{--width:100px;}.elementor-3365 .elementor-element.elementor-element-de449d9{--width:100px;}.elementor-3365 .elementor-element.elementor-element-19168a7{--width:100px;}.elementor-3365 .elementor-element.elementor-element-e64d6d6{--width:100px;}}@media(max-width:767px){.elementor-3365 .elementor-element.elementor-element-19e7aaf{text-align:center;}.elementor-3365 .elementor-element.elementor-element-19e7aaf .elementor-heading-title{font-size:18px;}.elementor-3365 .elementor-element.elementor-element-0cebe1e .elementor-heading-title{font-size:32px;}.elementor-3365 .elementor-element.elementor-element-ba96af4{--width:100px;--min-height:100px;}}/* Start custom CSS for container, class: .elementor-element-122eeef */.icon_out {
    transform: rotate(90deg);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-43ec41b */.circle_out {
    opacity: 0;
    pointer-events: none
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-de449d9 */.icon2 {
    opacity: 0;
    transform: rotate(90deg);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-ba96af4 *//* Custom project btn css - keep hidden as using Motion.page instead
.next_project_btn .circle1,
.next_project_btn .circle2 {
    transition: all 0.4s ease-in-out;
}

.next_project_btn:hover {
    cursor: pointer
}

.next_project_btn:hover .circle1 {
    background: #222;
}

.next_project_btn:hover .circle2 {
    transform: scale(1.2);
    background: #777
}

.next_project_btn .next_project_icon .elementor-icon {
    color: #fff;
    transition: all 0.4s ease-in-out;
    transform: rotate(0deg);
    animation: out .4s forwards;
}

.next_project_btn:hover .next_project_icon .elementor-icon {
    color: #fff;
    animation: in .8s forwards;
    transform: rotate(90deg)
}

@keyframes in {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
    color: #fff;
  }
  49% {
    opacity: 0;
    transform: translateX(20px) rotate(0deg);
    color: #fff;
  }
  50% {
    opacity: 0;
    transform: rotate(90deg) translateX(-20px);
    color: #fff;
  }
  100% {
    opacity:1;
    transform: rotate(90deg) translateX(0px);
    color: #fff;
  }
}
@keyframes out {
  0% {
    opacity: 1;
    transform: translateY(0px) rotate(90deg);
  }
  100% {
    transform: rotate(0deg) translateX(0px);
  }
}
*//* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../fonts/Urbanist-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../fonts/Urbanist-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../fonts/Urbanist-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('../fonts/Urbanist-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('../fonts/Urbanist-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/Urbanist-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../fonts/Urbanist-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../fonts/Urbanist-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../fonts/Urbanist-ExtraBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */